/*=====================================
 *  GLOBAL
 *===================================*/

html, body {
    height: 100%;
}
h2 {
    font-family: "Ubuntu", sans-serif;
    font-size: 32px;
    margin: 0;
}
p {
    font-family: "Lato", sans-serif;
    font-weight: lighter;
    font-size: 18px;
    line-height: 1.5em;
    text-align: justify;
}
a {
    font-family: "Lato", sans-serif;
    text-decoration: none;
    color: #fff;
}
.container {
    padding: 5%;
    margin: 0 auto;
}
.clearfix:after {
    content: '';
    display: table;
    clear: both;
}
.hidden {
    position: absolute;
    clip: rect(1px 1px 1px 1px);
    /* IE6 & 7 */
    clip: rect(1px, 1px, 1px, 1px);
}
/*=====================================
 * HEADER
 *===================================*/
header {
    position: fixed;
    width: 100%;
    color: white;
    z-index: 2;
}
.logo {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
    width: 50px;
    height: 50px;
    margin: 0 auto;
    background: url('../media/logo50x50.png') no-repeat;
}
.logo:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}
.navbar ul {
    padding: 0;
    text-align: center;
}
.navbar li {
    display: inline-block;
    padding: 0 5%;
}
.navbar a {
    text-transform: uppercase;
    font-size: 16px;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}
/*=====================================
 * INTRO
 *===================================*/
.intro {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #2073c6;
    z-index: 1;
}
.intro .container {
    display: table;
    height: 100%;
}
.iam {
    display: table-cell;
    vertical-align: middle;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
    color: #fff;
}
.me {
    font-size: 20px;
    font-family: "Lato", sans-serif;
    font-weight: lighter;
    line-height: 1.5;
}
.me span:first-child {
    display: block;
    font-family: "Ubuntu", sans-serif;
    font-size: 48px;
}
.me span:last-child {
    display: block;
    text-indent: 1em;
}
.spacer {
    height: 100%;
}
/*=====================================
 * ABOUT
 *===================================*/

.about {
    position: relative;
    z-index: 2;
    padding: 10em 0;
    background-color: #fff;
    -webkit-box-shadow: 0 -5px 5px rgba(0, 0, 0, .1);
            box-shadow: 0 -5px 5px rgba(0, 0, 0, .1);
}
.about p {
    padding: 1em 0;
    border-top: 3px solid #efefef;
    border-bottom: 3px solid #efefef;
    text-indent: 1em;
    color: #858585;
}
/*=====================================
 * RECENT-WORKS
 *===================================*/
.recent-projects {
    position: relative;
    z-index: 2;
}
.recent-projects article {
    padding: 5em 0;
}
.odd {
    background-color: #fafafa;
}
.even {
    background-color: white;
}
.recent-projects {
    color: #656565;
}
.recent-projects p {
    text-indent: 1em;
    margin: .3em 0 1em 0;
}
.recent-projects img {
    width: 100%;
}
.roles {
    margin-top: 1em;
    list-style-type: none;
    padding: 0;
}
.role {
    margin: .5em auto;
    border: 1px solid #aaa;
    font-family: "Lato", sans-serif;
    font-weight: lighter;
    font-size: 18px;
    line-height: 1.5em;
    text-align: center;
    color: #656565;
}
/*=====================================
 * PORTFOLIO
 *===================================*/
.portfolio {
    position: relative;
    z-index: 2;
    padding: 5em 0;
    background-color: #fff;
}
.thumbnail {
    position: relative;
    width: 100%;
}
.thumbnail img {
    width: 100%;
}
.hover-cover {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 0;
    overflow: hidden;
    background-color: rgba(54, 54, 54, 0.95);
    -webkit-transition: all .3s;
            transition: all .3s;
}
.thumbnail:active .hover-cover {
    height: 100%;
}
.plus-icon {
    position: absolute;
    width: 18.5%;
    height: 18.5%;
    max-width: 50px;
    max-height: 50px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}
.plus-icon img {
    width: 100%;
}
.project-title {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: white;
}
.project-title p {
    margin: 0;
    font-size: 18px;
    color: #3f3f3f;
    text-align: center;
}
.thumbnail:hover .hover-cover {
    display: block;
}
/*=====================================
 * CONTACT
 *===================================*/

.contact {
    position: relative;
    z-index: 2;
    padding: 8em 0;
    background-color: white;
}
.contact label {
    font-family: "Lato", sans-serif;
    font-size: 18px;
    color: #656565;
}
.contact input, .contact textarea {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    display: block;
    width: 100%;
    padding: 1em;
    margin: .5em 0 1em 0;
    border: 1px solid #aaa;
    border-radius: 5px;
    font-family: "Lato", sans-serif;
    font-size: 16px;
    color: #858585;
}
.contact input[type=submit] {
    background-color: #2073c6;
    border: none;
    color: #fff;
}
.contact input[type=submit]:active {
    position: relative;
    top: 4px;
}
.contact input[type=text]:focus, .contact textarea:focus {
    outline: 1px solid #13adff;
}
/*=====================================
 * FOOTER
 *===================================*/

footer {
    position: relative;
    z-index: 2;
    padding: 5em 0;
    background-color: #454545;
}
.social {
    padding: 0;
    text-align: center;
}
.social li {
    display: inline-block;
    margin: .2em;
}
/*=====================================
 * GO TOP BUTTON
 *===================================*/

.go-top {
    display: none;
    position: fixed;
    width: 50px;
    height: 50px;
    border-radius: 10px;
    bottom: 1em;
    right: 1em;
    background-color: #353535;
    color: #fff;
    text-align: center;
    line-height: 50px;
    z-index: 3;
}

/*=====================================
 * MEDIA QUERIES
 *===================================*/
 @media screen and (min-width: 600px) {
    .container {
        width: 90%;
        max-width: 1170px;
    }
    /*=================================
     * HEADER
     *===============================*/
    .logo {
        float: left;
    }
    .navbar {
        float: right;
    }
    /*=================================
     * INTRO
     *===============================*/
     .me {
        max-width: 650px;
        margin: 0 auto;
     }
     .me span:first-child {
        font-size: 72px;
     }
     /*=================================
     * ABOUT
     *===============================*/
     .about p {
        max-width: 500px;
        margin: 0 auto;
        text-align: center;
        text-indent: 0;
     }
     /*=================================
     * RECENT WORKS
     *===============================*/
     .recent-projects img {
        float: left;
        width: 48%;
     }
     .roles {
        float: right;
        width: 48%;
     }
     /*=================================
     * CONTACT
     *===============================*/
     .info {
        float: left;
        width: 50%;
     }
     .message {
        float: left;
        width: 50%;
     }
     .contact input, .contact textarea {
        width: 80%;
        margin: .5em auto 3em auto;
     }
     .contact label {
        display: block;
        text-indent: 1.5em;
     }
 }

 @media screen and (min-width: 800px) {
    /*=================================
     * RECENT WORKS
     *===============================*/
     .recent-projects h2 {
        font-size: 36px;
        margin-bottom: .3em;
     }
     .recent-projects p {
        float: left;
        width: 60%;
     }
     .recent-projects img {
        float: right;
        width: 37%;
     }
     .roles {
        width: 100%;
     }
     .role {
        display: inline-block;
        width: 30%;
        margin: 0 1% 0 0;
     }
 }

  @media screen and (min-width: 1100px) {
    .roles {
        float: left;
        width: 50%;
    }
  }